<header>
    <a href="/index.html">
      <img class="logo" src="#" />
    </a>
    <div id="subHeader">
      <div id="subHeaderTop">
        <h1>Ganzfraulich</h1>
        <h2>Deine Zeit für's Frausein</h2>
        <h2 id="subHeaderBottom">
          <a class="navLink" href="index.html">Start</a>
          <a class="navLink" href="workshopWeiblich.html">Workshop Weiblich</a>
          <a class="navLink" href="workshopGrenzen.html">Workshop Grenzen setzen</a>
          <a class="navLink" href="workshopSpuerbar.html">Workshop Spürbar</a>
          <a class="navLink" href="workshopGekonnt.html">Workshop Gekonnt gestresst</a>
          <a class="navLink" href="workshopVerletzlich.html">Workshop Verletzlich</a>
        </h2>
      </div>
      <nav id="desktopNav">
      </nav>
      <div id="burgerMenu" onclick="showMobileMenu()"><img class="burgerMenuImage" src="/assets/img/icons/burger-menu.png"></div>
    </div>
  </header>
  