<header>
  <div id="headerTop">
    <a href="/index.html">
    <div id="headerTopText">
      
      <h1>Ganzfraulich</h1>
      <h2>Deine Zeit fürs Frausein</h2>
  
    </div>
  </a>
    <div id="logoBoxContainer">
      <div id="halfCircle"></div>
     
        <a href="/index.html">
          <div id="logoBox">
          <img class="logo" src="assets/img/GanzfraulichLogo-150x150.jpg" />      </div>
        </a>

    </div>
  </div>
  <div id="headerBottom">
  </div>
  <div id="burgerMenu" onclick="showMenu()">
    
    <img class="burgerMenuImage" src="/assets/img/burger_menu_petrol.png" />
  </div>
</header>
