<header>
  <div id="headerTop">
    <a href="/index.html">
      <img class="logo" src="assets\img\LOGO_Soulconcept_DKGR_HGRD_UNI.svg" />
    </a>

    <h1>GANZFRAULICH</h1>
    <h2>Deine Zeit fürs Frausein</h2>
  </div>
  <div id="headerBottom">
    <nav id="desktopNav" class="dNone">
      <a id="linkIndex" class="navLink" href="index.html">Ganzfraulich <br /> Übersicht</a>
      <a id="linkWeiblich" class="navLink" href="workshopWeiblich.html">Ganzfraulich <br /> weiblich</a>
      <a id="linkGrenzen" class="navLink" href="workshopGrenzen.html">Ganzfraulich <br /> Grenzen setzen</a>
      <a id="linkSpuerbar" class="navLink" href="workshopSpuerbar.html">Ganzfraulich <br />spürbar</a>
      <a id="linkGekonnt" class="navLink" href="workshopGekonnt.html">Ganzfraulich <br />gekonnt gestresst</a>
      <a id="linkVerletzlich" class="navLink" href="workshopVerletzlich.html">Ganzfraulich <br />verletzlich</a>
    </nav>
  </div>
  <div id="burgerMenu" onclick="showMenu()">
    <img class="burgerMenuImage" src="/assets/img/burger-menu.png" />
  </div>
</header>
