<div id="mobileNav" class="dNone">
    <a href="/index.html">
      <img
        class="mobileLogo"
        src="assets\img\LOGO_Soulconcept_DKGR_HGRD_UNI.svg"
      />
      <img id="closeButton" src="/assets/img/close.png" onclick="closeMenu()">
    </a>
    <a class="mobileNavLink" href="index.html">Ganzfraulich Übersicht</a>
    <a class="mobileNavLink" href="workshopWeiblich.html">Ganzfraulich weiblich</a>
    <a class="mobileNavLink" href="workshopGrenzen.html">Ganzfraulich Grenzen setzen</a>
    <a class="mobileNavLink" href="workshopSpuerbar.html">Ganzfraulich spürbar</a>
    <a class="mobileNavLink" href="workshopGekonnt.html">Ganzfraulich gekonnt gestresst</a>
    <a class="mobileNavLink" href="workshopVerletzlich.html">Ganzfraulich verletzlich</a>
    <a class="mobileNavLink" href="DasTeam.html">Über uns</a>
  </div>