<div id="mobileNav" class="dNone">
    <a href="/index.html">
      <img
        class="mobileLogo"
        src="assets\img\LOGO_Soulconcept_DKGR_HGRD_UNI.svg"
      />
      <img id="closeButton" src="/assets/img/close.png" onclick="closeMobileMenu()">
    </a>
    <a class="mobileNavLink" href="index.html">Workshop Übersicht</a>
    <a class="mobileNavLink" href="workshopWeiblich.html">Workshop Weiblich</a>
    <a class="mobileNavLink" href="workshopGrenzen.html">Workshop Grenzen setzen</a>
    <a class="mobileNavLink" href="workshopSpuerbar.html">Workshop Spürbar</a>
    <a class="mobileNavLink" href="workshopGekonnt.html">Workshop Gekonnt gestresst</a>
    <a class="mobileNavLink" href="workshopVerletzlich.html">Workshop Verletzlich</a>
  </div>