<div id="mobileNav" class="dNone">
    <a href="/index.html">
      <img
        class="mobileLogo"
        src=""
      />
      <img id="closeButton" src="/assets/img/close.png" onclick="closeMobileMenu()">
    </a>
    <a class="mobileNavLink" href="#">Home</a>
    <a class="mobileNavLink" href="#">Workshop Weiblich</a>
    <a class="mobileNavLink" href="#">Workshop Grenzen setzen</a>
    <a class="mobileNavLink" href="#">Workshop Spürbar</a>
    <a class="mobileNavLink" href="#">Workshop Gekonnt gestresst</a>
    <a class="mobileNavLink" href="#">Workshop Verletzlich</a>
  </div>