header {
  background-color: rgb(42,114,121);
  width: 100vw;
  box-sizing: border-box;
  padding: 16px 16px 16px 16px;
  display: flex;
  color: white;
  align-items: center;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
}


#headerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerBottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#desktopNav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.navLink {
  color: white;
  text-align: center;
  padding: 8px;
}

.navLink:hover {
  color: lightcyan;
  text-shadow: 2px 2px 4px rgba(250, 250, 250, 0.8);
}

#languageSelection {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

/*mobile menu*/
#mobileNav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(42,114,121);
  box-sizing: border-box;
  padding: 32px 16px 16px 16px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 9;
  opacity: 0.9;
}

.mobileLogo {
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.mobileNavLink {
  color: white;
}

.mobileNavLink:hover {
  color: lightcyan;
  text-shadow: 2px 2px 4px rgba(250, 250, 250, 0.8);
}

#closeButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 36px rgba(255, 255, 255, 1);
}

/*footer*/

footer {
  background-color: rgb(42,114,121);
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 16px 16px 16px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerIcon {
  height: 40px;
}

.footerIcon:hover {
  box-shadow: 2px 2px 4px 4px rgba(250, 250, 250, 0.5);
}

#backgroundImage {
  opacity: 0.1;
  position: fixed;
  top:70px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  z-index: -1;
}


/*responsiveness*/
@media (max-width: 700px) {
  #headerBottom {
    text-align: center;
  }
  
  #desktopNav {
    display: none;
  }
  
  #burgerMenu {
    display: flex !important;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .burgerMenuImage:hover {
    box-shadow: 0px 0px 36px rgba(255, 255, 255, 1);
  }


  }
  
  @media (max-width:600px) {
    .logo {
      height: 100px;
    }
    #headerBottom {
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
    }
  }
  
  @media (max-width: 350px) {
    header {
      height: 280px;
      padding: 60px 16px 16px 16px;
    }
  }